extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 About
        .row
            .col-md-6.col-md-offset-3
                p.
                    This is about the API and the structure of it
                    Also it will show the origin of it and why I started
                    building it