extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Contact
        .row
            .col-md-6.col-md-offset-3
                p.
                    Twitter: @sean7218 <br>
                    Email: sean7218@gmail.com