extends layout

block content
    .main.container
        br
        .row
            .col-md-6.col-md-offset-3
                p.
                    This is the body of the home page api and describes how to sign on the service and
                    how to use the service when needing any documents and also maybe submitting your
                    questions here. But anyhow hope you will enjoy this api through the secure channel
